<a class="menu-toggle rounded navbar-brand" href="#" aria-label="Microclim">
    <i class="fa fa-bars"></i>
</a>

<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="/">Microclim</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/">Home</a>
        </li>

        <li <%if (title=="home"  ) { %> class="sidebar-nav-item"  <% }  else { %> class="d-none" <%  } %>  >
            <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li <%if (title=="home" || title=="usage" || title=="des" ) { %> class="sidebar-nav-item"  <% }  else { %> class="d-none" <%  } %>  >
            <a class="js-scroll-trigger" href="/microclim">Dashboard</a>
        </li>




        <%if (!user) { %>

        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/login">Login</a>

        </li>
        <!-- <li class="active" disabled><a href="/signup">Create Account</a></li> -->

        <% } else{ %>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if (user.image) { %>
                <img src="<%= user.image %>">
                <% } else { %>
                <img src="<%=user.gravatar(60)%>">

                <% }%>
                <%= user.email%>
                <i class="caret"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/account">My Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>

        <% } %>
    </ul>
</nav>
