<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                        class="icon-bar"></span></button>
            <a class="navbar-brand" href="/"><i class="fa fa-google-plus-circle"></i>E B M (beta)</a></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li <%if (title=="home") { %>class="active"  <% }  %>><a href="/">Home</a></li>
                <li <%if (title=="microclim") { %>class="active"  <% }  %>><a href="/microclim">Microclim</a></li>
                <li <%if (title=="APIs") { %>class="active"  <% }  %>><a href="/APIs">APIs</a></li>
                <li><a href="/">Help</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%if (!user) { %>

                <li><a href="/login">Login</a></li>
                <!-- <li class="active" disabled><a href="/signup">Create Account</a></li> -->

                <% } else{ %>

                <li class="dropdown active">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <% if (user.image) { %>
                        <img src="<%= user.image %>">
                        <% } else { %>
                        <img src="<%=user.gravatar(60)%>">

                        <% }%>
                        <span><%= user.email%></span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <!--<li disabled><a href="/account">My Account</a></li>-->
                        <li class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>

                <% } %>
            </ul>
        </div>
    </div>
</div>