<a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="/">Microclim</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/">Home</a>
        </li>
        <li <%if (title=="home") { %> class="sidebar-nav-item"  <% }  else { %> class="display:none" <%  } %>  >
            <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li <%if (title=="home") { %> class="sidebar-nav-item"  <% }  else { %> class="display:none" <%  } %>  >
            <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li <%if (title=="home") { %> class="sidebar-nav-item"  <% }  else { %> class="display:none" <%  } %>  >
            <a class="js-scroll-trigger" href="#action">Dashboard</a>
        </li>




        <%if (!user) { %>

        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/login">Login</a>

        </li>
        <!-- <li class="active" disabled><a href="/signup">Create Account</a></li> -->

        <% } else{ %>

        <li class="dropdown active">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <% if (user.image) { %>
                <img src="<%= user.image %>">
                <% } else { %>
                <img src="<%=user.gravatar(60)%>">

                <% }%>
                <span><%= user.email%></span>
                <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/account">My Account</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>

        <% } %>
    </ul>
</nav>
