<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Request details</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <label for="requestId">Request Id:</label>
                            <input type="text"  class="form-control" id="requestId" name="requestId" disabled/>
                            <label for="variableId">Variable :</label>
                            <input type="text"  class="form-control" id="variableId" name="variableId" disabled/>
                            <label for="latsId">Lats :</label>
                            <input type="text"  class="form-control" id="latsId" name="latsId" disabled/>
                            <label for="longsId">Longs :</label>
                            <input type="text"  class="form-control" id="longsId" name="longsId" disabled/>
                            <label for="startdate">Start Date :</label>
                            <input type="text"  class="form-control" id="startdate" name="startdate" disabled/>
                            <label for="enddate">End Date :</label>
                            <input type="text"  class="form-control" id="enddate" name="enddate" disabled/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>