<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4DA5F4">
    <meta name="csrf-token" content="MFD51vYyzp+LTqq27woifqWjX2rwLcg5OKxGw=">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.png">
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='/stylesheets/eb.css' />
</head>
<body>

<% include ./partials/header %>

<div class="container">
    <div class="page-header"></div>
    <h3>APIs</h3>
    <p class="lead text-justify">We offer APIs within any environment that supports the REST API framework for assessing available data and retrieving data.</p>
    <hr>
    <div class="row">

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">query_microclim()</h5>
                <p class="list-group-item-text">The API call will return the options available for the following: variables, locations, time period, time interval, aggregation metrics.</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">fetch_microclim (startdate, enddate, latS, latN, lonW, lonE, varname, shade, height, interval, aggregation, output)</h5>
                <p class="list-group-item-text">This API allows users to fetch data</p>
                <ul class="list-group">
                    <li class="list-group-item">
                     # startdate and endate are indicated as YYYYMMDDHH where YYYY is year, MM is month, DD is day, and HH is hour.
                    </li>
                    <li class="list-group-item">
                        # latS, latN, lonW, and lonE indicate the bounding box of the data in degrees north latitude and degrees east longitude.
                    </li>
                    <li class="list-group-item">
                        # varname indicates to variable names in the table above.
                    </li>
                    <li class="list-group-item">
                        # shade indicates to the percent shade: 0, 25, 50, 75, 100
                    </li>
                    <li class="list-group-item">
                        # height indicates to the height (m) above or depth below the surface: 0.03, 0.06, 0.09, 0.12, 0.15, 0.18, 0.21, 0.24, 0.27, 0.30, 0.48, 0.66, 0.84, 1.02, 1.20, 1.38, 1.56, 1.74, 1.92
                    </li>
                    <li class="list-group-item">
                        # interval indicates times interval:hr, 6hr, 12hr, day, month, year
                    </li>
                    <li class="list-group-item">
                        # aggregation indicates the aggregation metric across time:  instantaneous, max, min, mean
                    </li>
                    <li class="list-group-item">
                        #output should indicate the output type: csv, netcdf.
                    </li>
                </ul>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">retrieve_microclim(request_id)</h5>
                <p class="list-group-item-text">The API call will return a status update or a link for retrieving the data once the request is completed.  The data can be retrieved from the Amazon Web Services S3 storage.
                </p>
            </a>
        </div>

    </div>
</div>
<% include ./partials/footer %>

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css' />
<!-- Bootstrap core JavaScript================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>