<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="width=640, initial-scale=0.47, maximum-scale=1.0, user-scalable=1" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%= title %>
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
        rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/eb.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/wyuenho/backgrid/master/lib/backgrid.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/wyuenho/backgrid-select-all/master/backgrid-select-all.css" />
    <!-- select -->
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />


</head>

<body id="page-top">
    <!-- Navigation -->
    <% include ./partials/header_1 %>

        <!-- Microclim -->
        <section class="content-section bg-light" id="microclim">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h2>Web Dashboard</h2>
                    </div>
                    <div class="row card-box">
                        <div class="col-lg-6 col-md-6">
                            <div id="map" style="width: 500px; height: 650px"></div>
                            <!--<span class="text-muted">Something else</span> -->
                        </div>

                        <div id="main" class="col-lg-6 col-md-auto">

                            <!-- <div class="card-box"> -->

                            <!--<span class="text-muted">Something else</span> -->
                            <form id="extractform" method="post" class="form-inline" data-parsley-validate="">

                                <div class="form-group row">
                                    <label for="sourcetype" class="col-sm-auto col-form-label" id="sourcet">Source
                                    </label>
                                    <select class="selectpicker" id="sourcetype" name="sourcetype">
                                        <option id='WRF' value='WRF'>WRF</option>
                                        <option id='ERA5' value="ERA5">ERA5</option>
                                        <option id="Aeris" value="Aeris">Aeris</option>
                                    </select>

                                </div>

                                <div class="form-group row">
                                    <label for="variable" class="col-sm-auto col-form-label">Variable</label>
                                    <select class="selectpicker" id="variable" name="variable"
                                        data-header="Select a variable" multiple data-parsley-required="true"
                                        data-parsley-errors-container=".eroors">

                                        <optgroup label="WRF">

                                            <option id="ALBEDO">ALBEDO</option>
                                            <option id="BGAP">BGAP</option>
                                            <option id="FVEG">FVEG</option>
                                            <option id="GLW">GLW</option>
                                            <option id="ISNOW">ISNOW</option>
                                            <option id="SWDOWN">SWDOWN</option>
                                            <option id="TAH">TAH</option>
                                            <option id="TV">TV</option>
                                            <option id="WGAP">WGAP</option>
                                            <option id="TG">TG</option>
                                            <option id="T2">T2</option>
                                            <option id="QAIR">QAIR</option>
                                            <option id="SMOIS">SMOIS</option>
                                        </optgroup>
                                        <optgroup label="Microclimate">
                                            <option id="Tair">Tair</option>
                                            <option id="Tsurface">Tsurface</option>
                                            <option id="Tsoil">Tsoil</option>
                                            <option id="UV">UV</option>
                                        </optgroup>
                                        <optgroup label="ECMWF">
                                            <option id="2m_temperature" value="2m_temperature">2m temperature</option>
                                            <option id="skin_temperature" value="skin_temperature">Skin Temperature
                                            </option>
                                            <option id="soil_temperature_level_1" value="soil_temperature_level_1">Soil
                                                Temperature Level 1</option>
                                            <option id="volumetric_soil_water_layer_1"
                                                value="volumetric_soil_water_layer_1">Volumetric Soil Water Layer 1
                                            </option>
                                            <option id="evaporation" value="evaporation">Evaporation</option>
                                            <option id="potential_evaporation" value="potential_evaporation">Potential
                                                Evaporation</option>
                                            <option id="surface_solar_radiation_downwards"
                                                value="surface_solar_radiation_downwards">Surface solar radiation
                                                downwards</option>
                                            <option id="10m_u_component_of_wind" value="10m_u_component_of_wind">100m u
                                                component of wind </option>
                                            <option id="high_vegetation_cover" value="high_vegetation_cover">High
                                                Vegetation Cover</option>
                                        </optgroup>
                                        <optgroup label="Real Time">
                                            <option id="Temperature">Temperature</option>
                                            <option id="solar_radiation">Solar Radiation</option>
                                            <option id="wind_speed">Wind Speed</option>
                                            <option id="wind_direction">Wind Direction</option>
                                        </optgroup>
                                    </select>
                                    <div class="col-sm-auto" id="errors1">
                                        <div class="eroors"></div>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="shadelevel" class="col-sm-auto col-form-label">Shade Level</label>
                                    <div class="col-md-auto btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary  active form-check-label" id="shadelevel">
                                            <input class="form-check-input" type="radio" id="shadelevel"
                                                name="shadelevel" value="0%" checked>0%
                                        </label>
                                        <label class="btn btn-secondary" id="shadelevel1">
                                            <input class="form-check-input" type="radio" id="shadelevel1"
                                                name="shadelevel" value="25%">25%
                                        </label>
                                        <label class="btn btn-secondary" id="shadelevel2">
                                            <input class="form-check-input" type="radio" id="shadelevel2"
                                                name="shadelevel" value="50%">50%
                                        </label>
                                        <label class="btn btn-secondary" id="shadelevel3">
                                            <input class="form-check-input" type="radio" id="shadelevel3"
                                                name="shadelevel" value="75%">75%
                                        </label>
                                        <label class="btn btn-secondary" id="shadelevel4">
                                            <input class="form-check-input" type="radio" id="shadelevel4"
                                                name="shadelevel" value="100%">100%
                                        </label>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="hod" class="col-sm-auto col-form-label">Height or depth(m)</label>
                                    <select id="hod" name="hod" class="selectpicker">
                                        <option value="0">0.03</option>
                                        <option value="1">0.06</option>
                                        <option value="2">0.09</option>
                                        <option value="3">0.12</option>
                                        <option value="4">0.15</option>
                                        <option value="5">0.18</option>
                                        <option value="6">0.21</option>
                                        <option value="7">0.24</option>
                                        <option value="8">0.27</option>
                                        <option value="9">0.30</option>
                                        <option value="10">0.48</option>
                                        <option value="11">0.66</option>
                                        <option value="12">0.84</option>
                                        <option value="13">1.02</option>
                                        <option value="14">1.20</option>
                                        <option value="15">1.38</option>
                                        <option value="16">1.56</option>
                                        <option value="17">1.74</option>
                                        <option value="18">1.92</option>
                                    </select>

                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-auto col-form-label">Locations</label>
                                    <span class="text-muted">select the geographic bounding box(Degrees)</span>
                                    <div class="col-sm-10" id="row2">
                                        <div class="row" id="row1">
                                            <div class="form-group row">
                                                <label for="latN" class="col-sm-auto col-form-label">N Lat</label>
                                                <div class="col-md-auto">
                                                    <input type="number" class="form-control" id="latN" name="latN"
                                                        placeholder="LatN" type="number" step="any"
                                                        data-parsley-trigger="change" required="">
                                                </div>

                                            </div>
                                            <span class="input-group-addon"></span>
                                            <div class="form-group row" id="row1">
                                                <label for="latS" class="col-sm-auto col-form-label">S Lat</label>
                                                <div class="col-md-auto">
                                                    <input type="number" class="form-control" id="latS" name="latS"
                                                        placeholder="LatS" type="number" step="any"
                                                        data-parsley-trigger="change" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="row3">
                                            <div class="form-group row">
                                                <label for="lonW" class="col-sm-auto col-form-label">W Lon</label>
                                                <div class="col-md-auto">
                                                    <input type="number" class="form-control" id="lonW" name="lonW"
                                                        placeholder="LonW" type="number" step="any"
                                                        data-parsley-trigger="change" required="">
                                                </div>

                                            </div>
                                            <span class="input-group-addon"></span>
                                            <div class="form-group row" id="row4">
                                                <label for="lonE" class="col-sm-auto col-form-label">E Lon</label>
                                                <div class="col-md-auto">
                                                    <input type="number" class="form-control" id="lonE" name="lonE"
                                                        placeholder="LonE" type="number" step="any"
                                                        data-parsley-trigger="change" required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label for="tp" class="col-sm-auto col-form-label">Time periods</label>
                                    <div class="col-md-auto btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="tp" value="past" autocomplete="off" checked>Past
                                        </label>
                                        <label class="btn btn-primary" id="futur">
                                            <input type="radio" name="tp" value="future" id="futur"
                                                autocomplete="off">Future
                                        </label>
                                    </div>
                                    <button type="button" class="btn btn-danger" name="years" id="years"
                                        value="past">Available time period - 1980-1999</button>
                                </div>

                                <div class="form-group row">
                                    <button type="button" class="btn btn-primary" disabled>Limit only two years when
                                        using Past/Future</button>
                                </div>

                                <div class="form-group row" id="date">
                                    <label for="stdate" class="col-sm-auto col-form-label">Start Date</label>
                                    <div class="col-xs-3 btn-group btn-group-toggle input-group input-daterange">
                                        <div class="col-md-auto" id="row5">
                                            <input type="text" class="form-control datepicker" id="stdate" name="stdate"
                                                placeholder="Start Date" required />
                                        </div>
                                        <span class="input-group-addon"></span>
                                        <label for="eddate" class="col-sm-auto col-form-label"
                                            style="margin-left: -10px;">End Date</label>
                                        <div class="col-md-auto" id="row5">
                                            <input type="text" class="form-control datepicker" data-date-end-date="+2y"
                                                id="eddate" name="eddate" placeholder="End Date"/>
                                        </div>
                                    </div> 
                                </div>
                                <div id="end"></div>

                                <div class="form-group row">
                                    <label for="interval" class="col-sm-auto col-form-label">Interval</label>
                                    <select id="interval" class="selectpicker">
                                        <option value="Hourly">Hourly</option>
                                        <option value="6 Hourly">6 Hourly</option>
                                        <option value="12 Hourly">12 Hourly</option>
                                        <option value="Daily">Daily</option>
                                        <option value="Monthly" id="Monthly">Monthly</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label for="aggregation" class="col-sm-auto col-form-label">Aggregation
                                        Metric</label>
                                    <select id="aggregation" class="selectpicker">
                                        <option value="Instantaneous">Instantaneous</option>
                                        <option value="Max">Max</option>
                                        <option value="Min">Min</option>
                                        <option value="Mean">Mean</option>
                                    </select>
                                </div>


                                <div class="form-group row">
                                    <label for="file" class="col-sm-auto col-form-label">Output file format</label>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                                        <label class="btn btn-primary" id="file1">
                                            <input type="radio" name="file" id="file1" value="csv" autocomplete="off"
                                                checked>CSV
                                        </label>
                                        <label class="btn btn-primary" id="file2">
                                            <input type="radio" name="file" id="file2" value="JSON" autocomplete="off"
                                                checked>JSON
                                        </label>
                                        <label class="btn btn-primary" id="file3">
                                            <input type="radio" name="file" id="file3" value="netcdf" autocomplete="off"
                                                checked>netCDF
                                        </label>
                                        <label class="btn btn-primary" id="file4">
                                            <input type="radio" name="file" id="file4" value="GRIB" autocomplete="off"
                                                checked>GRIB
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="col-sm-auto col-form-label">Email address</label>
                                    <div class="col-md-auto">

                                        <input type="email" class="form-control" id="email" name="email"
                                            placeholder="<%= user.email%>" value="<%= user.email%>" required>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-auto btn-group btn-group-toggle" data-toggle="buttons">
                                        <!-- Submit/Cancel button !-->
                                        <button type="button" class="btn btn-success btn-lg save"
                                            value="validate">Process</button>
                                        <span class="input-group-addon"></span>
                                        <button type="reset" class="btn btn-warning btn-lg reset">Cancel</button>
                                    </div>

                                </div>

                            </form>


                            <!--</div> -->
                            <!-- card box end -->

                            <script type="text/template" id="alert-success-tpl">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="icon-check"></i> Request has been successful!
                        </div>
                    </script>


                            <script type="text/template" id="alert-danger-tpl">
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="icon-ban-circle"></i> Error! Please try again.
                        </div>
                    </script>

                            <div class="alert-container"></div>

                        </div>
                        <!-- main -->

                    </div>

                    <hr>
                    <div class="col-lg-10 mx-auto">
                        <h2>Requests</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            <div class="body text-align-left" id="requests-main-dp">

                                <div class="row" id="requests-main">
                                    <div class="col-xs-6">
                                        <a id="refresh" name="refresh" class="btn btn-toolbar btn-sm pull-right refresh"
                                            data-placement="top"
                                            data-original-title=".btn .btn-default .btn-sm">refresh</a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- End Requests-->

                    <div class="overlay">
                        <div id="loading-img"></div>
                    </div>
                    <!--/.container new -->

                </div>
            </div>


        </section>

        <% include ./partials/footer_1 %>
            <% include ./partials/request %>

                <!-- Scroll to Top Button-->
                <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
                    <i class="fa fa-angle-up"></i>
                </a>

                <!-- Bootstrap core JavaScript -->
                <script src="vendor/jquery/jquery.min.js"></script>
                <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                <!-- Plugin JavaScript -->
                <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

                <!-- Custom scripts for this template -->

                <script type="text/template" id="process-tpl">
    <div class="well">
        <div class="row">
            <div class="col-xs-6">
                <a href="/" class="btn btn-default btn-lg pull-left" data-placement="top"
                   data-original-title=".btn .btn-default .btn-lg">
                    {{=startdate}}
                </a>
            </div>
            <div class="col-xs-6">
                <a href="{{= startdate}}" class="nohover">
                    <icon class="icon-cog icon-2x text-success"></icon>
                </a>
            </div>

        </div>
    </div>
</script>



                <script src="js/stylish-portfolio.min.js"></script>
                <script src="javascripts/eb.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
                <script
                    src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
                <script
                    src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

                <script>
                    var map = L.map('map').setView([39.70005491693909, -106.22817993164061], 10);
                    mapLink =
                        '<a href="http://openstreetmap.org">OpenStreetMap</a>';
                    L.tileLayer(
                        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; ' + mapLink + ' Contributors',
                        maxZoom: 18
                    }).addTo(map);

                    var LeafIcon = L.Icon.extend({
                        options: {
                            shadowUrl:
                                'http://leafletjs.com/docs/images/leaf-shadow.png',
                            iconSize: [38, 95],
                            shadowSize: [50, 64],
                            iconAnchor: [22, 94],
                            shadowAnchor: [4, 62],
                            popupAnchor: [-3, -76]
                        }
                    });

                    var greenIcon = new LeafIcon({
                        iconUrl: 'http://leafletjs.com/docs/images/leaf-green.png'
                    });

                    var drawnItems = new L.FeatureGroup();
                    map.addLayer(drawnItems);

                    var drawControl = new L.Control.Draw({
                        position: 'topleft',
                        draw: {
                            polygon: false, // Turns off this drawing tool,
                            polyline: false, // Turns off this drawing tool,
                            circle: false, // Turns off this drawing tool,
                            marker: false, // Turns off this drawing tool
                        },
                        edit: {
                            featureGroup: drawnItems
                        }
                    });
                    map.addControl(drawControl);

                    map.on('draw:created', function (e) {
                        var type = e.layerType,
                            layer = e.layer;

                        if (type === 'marker') {
                            layer.bindPopup('A popup!');
                            console.log("Marker created")
                        }

                        if (type === 'polygon' || type == "rectangle") {

                            var width = layer.getBounds().getEast() - layer.getBounds().getWest();
                            var height = layer.getBounds().getNorth() - layer.getBounds().getSouth();

                            var lats = []; var lngs = [];

                            //coordinates of the polygon
                            for (var i = 0; i < layer._latlngs.length; i++) {
                                lats.push(layer._latlngs[i].lat);
                                lngs.push(layer._latlngs[i].lng);

                            }

                            //Show the bounding box
                            $("#lat").val(layer.getBounds().getCenter().lat);
                            $("#lng").val(layer.getBounds().getCenter().lng);

                            //latS,latN,lonW,lonE
                            $("#latS").val(layer.getBounds().getSouth());
                            $("#latN").val(layer.getBounds().getNorth());

                            $("#lonW").val(layer.getBounds().getWest());
                            $("#lonE").val(layer.getBounds().getEast());

                            $("#latS").parsley().destroy();
                            $("#latN").parsley().destroy();
                            $("#lonW").parsley().destroy();
                            $("#lonE").parsley().destroy();
                        }

                        drawnItems.addLayer(layer);

                        //Clear the drawing layer after pressing submit/cancel
                        $(".reset").on("click", function () {
                            $("#latS").val(" ");
                            $("#latN").val(" ");
                            $("#lonW").val(" ");
                            $("#lonE").val(" ");
                            drawnItems.removeLayer(layer);

                        });
                        $(".leaflet-draw-edit-remove").on("click", function () {
                            $("#latS").val(" ");
                            $("#latN").val(" ");
                            $("#lonW").val(" ");
                            $("#lonE").val(" ");
                        });

                        $(".save").on("click", function () {
                            drawnItems.removeLayer(layer);
                        });
                    });
                    $("#sourcetype").change("click", function () {
                        if ($(this).val() == 'ERA5') {
                            $('#end').empty();
                            $('#file2').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#file3').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $('#file4').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $('#file1').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $("#variable").val('').trigger('change')
                            $('#shadelevel').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#shadelevel1').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#shadelevel2').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#shadelevel3').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#shadelevel4').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#futur').addClass('disabled', 'true').css({ 'pointer-events': "none" });
                            $('#ALBEDO').prop('disabled', 'true');
                            $('#BGAP').prop('disabled', 'true');
                            $('#FVEG').prop('disabled', 'true');
                            $('#GLW').prop('disabled', 'true');
                            $('#ISNOW').prop('disabled', 'true');
                            $('#SWDOWN').prop('disabled', 'true');
                            $('#TAH').prop('disabled', 'true');
                            $('#TV').prop('disabled', 'true');
                            $('#WGAP').prop('disabled', 'true');
                            $('#TG').prop('disabled', 'true');
                            $('#T2').prop('disabled', 'true');
                            $('#QAIR').prop('disabled', 'true');
                            $('#SMOIS').prop('disabled', 'true');
                            $('#UV').prop('disabled', 'true');
                            $('#Tair').prop('disabled', 'true');
                            $('#Tsurface').prop('disabled', 'true');
                            $('#Tsoil').prop('disabled', 'true');
                            $('#UV').prop('disabled', 'true');
                            $('#Monthly').prop('disabled', 'true');
                            $('#aggregation').prop('disabled', true);
                            $('#aggregation').selectpicker('refresh');
                            $('#Temperature').prop('disabled', 'true');
                            $('#solar_radiation').prop('disabled', 'true');
                            $('#wind_speed').prop('disabled', 'true');
                            $('#wind_direction').prop('disabled', 'true');
                            var today = new Date();
                            var dd = String(today.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0');
                            var yyyy = today.getFullYear();
                            today = mm + '/' + dd + '/' + yyyy;
                            $('#eddate').datepicker('setStartDate', '01/01/1980');
                            $('#eddate').datepicker('setEndDate', today);
                            $('#stdate').datepicker('setStartDate', '01/01/1980');
                            $('#stdate').datepicker('setEndDate', today);
                            $('.datepicker').datepicker("setDate", "01/01/1980");
                            $('#stdate').datepicker('update');
                            $('#eddate').datepicker('update');
                            $('#2m_temperature').prop('disabled', false);
                            $('#skin_temperature').prop('disabled', false);
                            $('#soil_temperature_level_1').prop('disabled', false);
                            $('#volumetric_soil_water_layer_1').prop('disabled', false);
                            $('#evaporation').prop('disabled', false);
                            $('#potential_evaporation').prop('disabled', false);
                            $('#high_vegetation_cover').prop('disabled', false);
                            $('#10m_u_component_of_wind').prop('disabled', false);
                            $('#surface_solar_radiation_downwards').prop('disabled', false);
                            $('#stdate').datepicker().on('change', function (ev) {
                                var firstDate = $(this).val();
                                var jsDate = $('#stdate').datepicker('getDate');
                                var d = String(jsDate.getDate()).padStart(2, '0');
                                var m = String(jsDate.getMonth() + 1).padStart(2, '0');
                                var yyy = jsDate.getFullYear();
                                toda = d + '.' + m + '.' + yyy;
                                $('#eddate').datepicker('setStartDate', firstDate);
                                $('#eddate').datepicker().on('change',function(ev){
                                    $('#end').empty();
                                    var jsEDate = $('#eddate').datepicker('getDate');
                                    var de = String(jsEDate.getDate()).padStart(2, '0');
                                    var me = String(jsEDate.getMonth() + 1).padStart(2, '0');
                                    var ye = jsEDate.getFullYear();
                                    var JsE = de + '.' + me + '.' + ye;
                                    var startDat = moment(toda, "DD.MM.YYYY");
                                    var endDat = moment(JsE, "DD.MM.YYYY");
                                    var result =  endDat.diff(startDat, 'days');
                                    if (result>730){
                                        $('#end').append('Duration between the Start date and the End date are limited to 2 years');
                                    }
                                })
                            });
                        }
                        if ($(this).val() == 'Aeris') {
                            $('#end').empty();
                            $('#file1').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#file2').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $('#file3').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#file4').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#shadelevel').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#shadelevel1').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#shadelevel2').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#shadelevel3').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#shadelevel4').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#Monthly').prop('disabled', 'true');
                            $('#aggregation').prop('disabled', true);
                            $('#aggregation').selectpicker('refresh');
                            $('#ALBEDO').prop('disabled', 'true');
                            $('#BGAP').prop('disabled', 'true');
                            $('#FVEG').prop('disabled', 'true');
                            $('#GLW').prop('disabled', 'true');
                            $('#ISNOW').prop('disabled', 'true');
                            $('#SWDOWN').prop('disabled', 'true');
                            $('#TAH').prop('disabled', 'true');
                            $('#TV').prop('disabled', 'true');
                            $('#WGAP').prop('disabled', 'true');
                            $('#TG').prop('disabled', 'true');
                            $('#T2').prop('disabled', 'true');
                            $('#QAIR').prop('disabled', 'true');
                            $('#SMOIS').prop('disabled', 'true');
                            $('#UV').prop('disabled', 'true');
                            $('#Tair').prop('disabled', 'true');
                            $('#Tsurface').prop('disabled', 'true');
                            $('#Tsoil').prop('disabled', 'true');
                            $('#UV').prop('disabled', 'true');
                            $('#2m_temperature').prop('disabled', 'true');
                            $('#skin_temperature').prop('disabled', 'true');
                            $('#soil_temperature_level_1').prop('disabled', 'true');
                            $('#volumetric_soil_water_layer_1').prop('disabled', 'true');
                            $('#evaporation').prop('disabled', 'true');
                            $('#potential_evaporation').prop('disabled', 'true');
                            $('#high_vegetation_cover').prop('disabled', 'true');
                            $('#10m_u_component_of_wind').prop('disabled', 'true');
                            $('#surface_solar_radiation_downwards').prop('disabled', 'true');
                            $('#Temperature').prop('disabled', false);
                            $('#solar_radiation').prop('disabled', false);
                            $('#wind_speed').prop('disabled', false);
                            $('#wind_direction').prop('disabled', false);
                            $("#variable").val('').trigger('change')
                            $('#stdate').datepicker().on('change', function (ev) {
                                var firstDate = $(this).val();
                                var jsDate = $('#stdate').datepicker('getDate');
                                var d = String(jsDate.getDate()).padStart(2, '0');
                                var m = String(jsDate.getMonth() + 1).padStart(2, '0');
                                var yyy = jsDate.getFullYear();
                                toda = d + '.' + m + '.' + yyy;
                                $('#eddate').datepicker('setStartDate', firstDate);
                                $('#eddate').datepicker().on('change',function(ev){
                                    $('#end').empty();
                                    var jsEDate = $('#eddate').datepicker('getDate');
                                    var de = String(jsEDate.getDate()).padStart(2, '0');
                                    var me = String(jsEDate.getMonth() + 1).padStart(2, '0');
                                    var ye = jsEDate.getFullYear();
                                    var JsE = de + '.' + me + '.' + ye;
                                    var startDat = moment(toda, "DD.MM.YYYY");
                                    var endDat = moment(JsE, "DD.MM.YYYY");
                                    var result =  endDat.diff(startDat, 'days');
                                    if (result>730){
                                        $('#end').append('Duration between the Start date and the End date are limited to 2 years');
                                    }
                                })
                            });
                            
                            
                        }
                        if ($(this).val() == 'WRF') {
                            $('#2m_temperature').prop('disabled', 'true');
                            $('#skin_temperature').prop('disabled', 'true');
                            $('#soil_temperature_level_1').prop('disabled', 'true');
                            $('#volumetric_soil_water_layer_1').prop('disabled', 'true');
                            $('#evaporation').prop('disabled', 'true');
                            $('#potential_evaporation').prop('disabled', 'true');
                            $('#high_vegetation_cover').prop('disabled', 'true');
                            $('#10m_u_component_of_wind').prop('disabled', 'true');
                            $('#surface_solar_radiation_downwards').prop('disabled', 'true');
                            $('#Temperature').prop('disabled', 'true');
                            $('#solar_radiation').prop('disabled', 'true');
                            $('#wind_speed').prop('disabled', 'true');
                            $('#wind_direction').prop('disabled', 'true');
                            $('#file1').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $('#futur').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $('#file2').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#file3').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#file4').addClass('disabled').css({ 'pointer-events': "none" });
                            $('#ALBEDO').prop('disabled', false);
                            $('#BGAP').prop('disabled', false);
                            $('#FVEG').prop('disabled', false);
                            $('#GLW').prop('disabled', false);
                            $('#ISNOW').prop('disabled', false);
                            $('#SWDOWN').prop('disabled', false);
                            $('#TAH').prop('disabled', false);
                            $('#TV').prop('disabled', false);
                            $('#WGAP').prop('disabled', false);
                            $('#TG').prop('disabled', false);
                            $('#T2').prop('disabled', false);
                            $('#QAIR').prop('disabled', false);
                            $('#SMOIS').prop('disabled', false);
                            $('#UV').prop('disabled', false);
                            $('#Tair').prop('disabled', false);
                            $('#Tsurface').prop('disabled', false);
                            $('#Tsoil').prop('disabled', false);
                            $('#UV').prop('disabled', false);
                            $("#variable").val('').trigger('change')
                            $('#eddate').datepicker('setStartDate', '01/01/1980');
                            $('#eddate').datepicker('setEndDate', '12/31/1999');
                            $('#stdate').datepicker('setStartDate', '01/01/1980');
                            $('#stdate').datepicker('setEndDate', '12/31/1999');
                            $('.datepicker').datepicker("setDate", "01/01/1980");
                            $('#stdate').datepicker('update');
                            $('#eddate').datepicker('update');
                            $('#Monthly').prop('disabled', false);
                            $('#shadelevel').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $('#shadelevel1').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $('#shadelevel2').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $('#shadelevel3').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $('#shadelevel4').removeClass('disabled').css({ 'pointer-events': "auto" });
                            $('#aggregation').prop('disabled', false);
                            $('#aggregation').selectpicker('refresh');
                        }
                    });
                    $('#2m_temperature').prop('disabled', 'true');
                    $('#skin_temperature').prop('disabled', 'true');
                    $('#soil_temperature_level_1').prop('disabled', 'true');
                    $('#volumetric_soil_water_layer_1').prop('disabled', 'true');
                    $('#evaporation').prop('disabled', 'true');
                    $('#potential_evaporation').prop('disabled', 'true');
                    $('#high_vegetation_cover').prop('disabled', 'true');
                    $('#10m_u_component_of_wind').prop('disabled', 'true');
                    $('#surface_solar_radiation_downwards').prop('disabled', 'true');
                    $('#Temperature').prop('disabled', 'true');
                    $('#solar_radiation').prop('disabled', 'true');
                    $('#wind_speed').prop('disabled', 'true');
                    $('#wind_direction').prop('disabled', 'true');
                    $('#file2').addClass('disabled').css({ 'pointer-events': "none" });
                    $('#file3').addClass('disabled').css({ 'pointer-events': "none" });
                    $('#file4').addClass('disabled').css({ 'pointer-events': "none" });
                </script>

                <!-- check !-->
                <script src="https://cdn.rawgit.com/jashkenas/underscore/1.5.2/underscore.js"></script>
                <script src="https://cdn.rawgit.com/jashkenas/backbone/1.1.0/backbone.js"></script>
                <script src="https://cdn.rawgit.com/wyuenho/backbone-pageable/master/lib/backbone-pageable.js"></script>
                <script src="https://cdn.rawgit.com/wyuenho/backgrid/master/lib/backgrid.js"></script>
                <script src="https://cdn.rawgit.com/wyuenho/backgrid-filter/master/backgrid-filter.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.4.4/parsley.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js"></script>

</body>

</html>