<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='/stylesheets/eb.css' />
    <!-- Bootstrap core JavaScript================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

<% include ./partials/header %>

<div class="container">

    <div class="page-header"></div><h3>Login</h3></div>
    <form class="form-horizontal" method="POST"><input type="hidden" name="_csrf"
                                                       value="u5Vf8pkZPi/ZxYDTY07Z3/En8ejDoLmc2ZBNw=">
        <div class="form-group"><label class="col-sm-3 control-label" for="email">Email</label>
            <div class="col-sm-7"><input class="form-control" type="email" name="email" id="email" placeholder="Email"
                                         autofocus required disabled></div>
        </div>
        <div class="form-group"><label class="col-sm-3 control-label" for="password">Password</label>
            <div class="col-sm-7"><input class="form-control" type="password" name="password" id="password"
                                         placeholder="Password" required disabled></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <button class="col-sm-3 btn btn-success btn-lg" type="submit" disabled=""><i class="fa fa-user"></i>Login</button>
                <a class="btn btn-link" href="/forgot">Forgot your password?</a></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <hr>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
               <a class="btn btn-block btn-google btn-social btn-lg" href="/auth/google"><i class="fa fa-google-plus"></i>Sign in with Google</a>
            </div>
        </div>
    </form>


</div><!--/.container-->

<% include ./partials/footer %>

</body>
</html>
