<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">
<!-- Navigation -->
<% include ./partials/header_1 %>

<!-- Usage -->
<section class="bg-light" id="usage">
    <div class="container-fluid">
       <div class="row flex-xl-nowrap">



            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                <h1 class="bd-title" id="content">Usage</h1>
                <p class="lead text-justify">Documentation and example usecase highlighting the use of our R API toolkit</p>
                <h2 id="inline-code">Pre-reqs</h2>
                <p class="lead text-justify">Install/load the required libraries</p>
                <pre><code>

                    library(devtools)
                    devtools::install_github("trenchproject/microclimRapi")
                    library(microclimRapi)

                </code></pre>
                <h2 id="inline-code">Key/Secret</h2>

                <p class="lead text-justify">Key/Secret is found under <code class="highlighter-rouge">&nbsp;My account </code> on the menu. Fetch the token to be used for all interactions using the API key and secret.</p>

                 <figure class="highlight"><pre><code class="language-html" data-lang="javascript">
                      api_token = getToken('88eb4af7c20dd74742aed57b2c77aff1', '39becfd7fab41b51ea5c55ed0137ec3a',
                      'microclim.org/')

                        </code></pre>
                </figure>

                <h2 id="code-blocks">Prepare Request Parameters</h2>

                <p class="lead text-justify">Let us now prepare a sample request to get hourly mean of the following microclimate variables for one year (1981): GLW, SWDOWN, TAH, Tair and Tsurface. We use decimal latitudes and longitudes to specify a bounding box surrounding the Eagle Nest Wilderness Area in Colorado, USA.</p>


                <figure class="highlight">
                        <pre><code class="language-html" data-lang="html">
                        mr <- microclimRapi:::MicroclimRequest$new(
                              latS = "39.48178546986059",
                              latN="39.890772566959534",
                              lonW="-106.51519775390625",
                              lonE="-106.03317260742188",
                              variable="GLW,SWDOWN,TAH,Tair,Tsurface",
                              shadelevel=0,
                              hod=0,
                              interval=0,
                              aggregation=3,
                              stdate="19810101",
                              eddate="19811231",
                              file="csv")

                        </code></pre>
                </figure>

                <h2 id="variables">Place Extraction Request</h2>

                <p class="lead text-justify">Place the request</p>

                 <figure class="highlight"><pre><code class="language-html" data-lang="html">

                        ext_req= ma$request(mr)

                        </code></pre>
                 </figure>

                <h2 id="user-input">Download</h2>

                <p class="lead text-justify">Once processed, the request transitions to status <code class="highlighter-rouge"> 'EMAILED'</code>, indicating that the files have been emailed to the user and are also available to download via the API. We will now fetch the files into our workspace for processing.</p>


                <figure class="highlight"><pre><code class="language-html" data-lang="html">
                         for (i in 1:10){
                                print(paste("dowloading file", ftch_req$files[[i]]$Key))
                                ncD <-  ma$download('59134752aa6be7679f737d41',ftch_req$files[[i]]$Key)
                                writeBin(ncD, strsplit(ftch_req$files[[i]]$Key, "/")[[1]][2])
                                }


                        </code></pre></figure>

                <h2 id="sample-output">Runnable code on GitHub Project page</h2>

                <p class="lead text-justify">Since the APIs are based on REST, you have the ability to use any language which support REST API framework. However, we officialy support and R and Python, and details can be found at below mentioned respective GitHub repositories..</p></br>
                <ul class="list-group h4">
                    <li class="list-group-item"><a href="https://github.com/trenchproject/microclimRapi" target="_blank">Official R API library</a></li>
                    <li class="list-group-item"><a href="https://github.com/trenchproject/microclim-api" target="_blank">Official Python API library</a></li>
                </ul>



            </main>


        </div>



    </div>



</section>

<% include ./partials/footer_1 %>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/stylish-portfolio.min.js"></script>

</body>

</html>