/*
 * Additional Style tweaks
 * --------------------------------------------------
 */
body {
    padding-top: 12px;
    background-color: #fff;
}
footer {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}


.card-box {
    padding: 20px;
    border: 1px solid rgba(54, 64, 74, 0.08);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #fff;
}

.form-inline > * {
    margin:15px 0px !important;
}
.card-box {
    padding: 20px;
    border: 1px solid rgba(54, 64, 74, 0.08);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #fff;
}
.btn-google {
    background-color: #dd4b39;
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2); }
.btn-google:focus, .btn-google.focus {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2); }
.btn-google:hover {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2); }
.btn-google:active, .btn-google.active,
.open > .btn-google.dropdown-toggle {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2); }
.btn-google:active:hover, .btn-google:active:focus, .btn-google:active.focus, .btn-google.active:hover, .btn-google.active:focus, .btn-google.active.focus,
.open > .btn-google.dropdown-toggle:hover,
.open > .btn-google.dropdown-toggle:focus,
.open > .btn-google.dropdown-toggle.focus {
    color: #fff;
    background-color: #a32b1c;
    border-color: rgba(0, 0, 0, 0.2); }
.btn-google:active, .btn-google.active,
.open > .btn-google.dropdown-toggle {
    background-image: none; }
.btn-google.disabled:hover, .btn-google.disabled:focus, .btn-google.disabled.focus, .btn-google[disabled]:hover, .btn-google[disabled]:focus, .btn-google[disabled].focus,
fieldset[disabled] .btn-google:hover,
fieldset[disabled] .btn-google:focus,
fieldset[disabled] .btn-google.focus {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2); }
.btn-google .badge {
    color: #dd4b39;
    background-color: #fff; }


.btn-social, .btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.btn-social > :first-child, .btn-social-icon > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
.btn-social.btn-lg, .btn-group-lg > .btn-social.btn, .btn-group-lg > .btn.btn-social-icon, .btn-lg.btn-social-icon {
    padding-left: 61px; }
.btn-social.btn-lg > :first-child, .btn-group-lg > .btn-social.btn > :first-child, .btn-group-lg > .btn.btn-social-icon > :first-child, .btn-lg.btn-social-icon > :first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em; }
.btn-social.btn-sm, .btn-group-sm > .btn-social.btn, .btn-group-sm > .btn.btn-social-icon, .btn-sm.btn-social-icon {
    padding-left: 38px; }
.btn-social.btn-sm > :first-child, .btn-group-sm > .btn-social.btn > :first-child, .btn-group-sm > .btn.btn-social-icon > :first-child, .btn-sm.btn-social-icon > :first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em; }
.btn-social.btn-xs, .btn-group-xs > .btn-social.btn, .btn-group-xs > .btn.btn-social-icon, .btn-xs.btn-social-icon {
    padding-left: 30px; }
.btn-social.btn-xs > :first-child, .btn-group-xs > .btn-social.btn > :first-child, .btn-group-xs > .btn.btn-social-icon > :first-child, .btn-xs.btn-social-icon > :first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em; }

.btn-social-icon {
    height: 34px;
    width: 34px;
    padding: 0; }
.btn-social-icon > :first-child {
    border: none;
    text-align: center;
    width: 100% !important; }
.btn-social-icon.btn-lg, .btn-group-lg > .btn-social-icon.btn {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0; }
.btn-social-icon.btn-sm, .btn-group-sm > .btn-social-icon.btn {
    height: 30px;
    width: 30px;
    padding-left: 0;
    padding-right: 0; }
.btn-social-icon.btn-xs, .btn-group-xs > .btn-social-icon.btn {
    height: 22px;
    width: 22px;
    padding-left: 0;
    padding-right: 0; }

.btn-block {
    display: block;
    width: 100%; }

.btn-block + .btn-block {
    margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%; }

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.fa-google-plus-square:before {
    content: ""; }

.fa-google-plus:before {
    content: ""; }
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
    content: ""; }